# Python files
__pycache__/

# Example output
examples/output

# Temporary files
~$*.xlsx

# Development environment files
.idea/

# Files from editable installs of pip
/InOutModule.egg-info/

# Operating system files
.DS_Store
